

.header {
    background-color: #FFD900;
    width:  1523px ;
    height: 350px;
}
/* Have not left, top in css */
.dongdau{
    width: 322px;
    height: 24px;
    padding-top: 65px;
    padding-left: 140px;
    font-family: SF Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.readme{
    width: 829px;
    height: 239px;
    margin-top: 9px;
    padding-left: 131px;
    font-size: 200px;
}
.how{
    width: 523px;
    height: 53px;
    
    padding-left: 131px;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
}
.border{
    margin-top: 24px;
    padding-left: 134px;
}
.feel{ 
    border-left: 6px solid black;
    width: 923px;
    height: 96px;
    padding-left: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.aNote{
    padding-top: 90px;
    padding-left: 131px;
    width: 884px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
}
.border2{
    margin-top: 26px;
    padding-left: 134px;
}
.thisFile{
    border-left: 6px solid black;
    width: 884px;
    height: 48px;
    padding-left: 29px;
    font-style: normal;
    font-size: 20px;
}
.fonts{
    width: 535px;
    height: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    padding-left: 131px;
    padding-top: 80px;
}
.border3{
    padding-left: 1000px;

    margin-top: 24px ;
    padding-left: 134px;
}
.just{
    border-left: 6px solid black;
    width: 791px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 29px;   
}
.gtf{
    border-left: 6px solid black;
    padding-left: 29px;  
    width: 535px;
    height: 53px;
    font-style: normal;
    font-size: 34px;
    line-height: 53px; 
}
.wrap{
    border-left: 6px solid black;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 656px;
    height: 48px;
    padding-left: 34px;
    /* padding-top: 12px; */
}
.har{
    border-left: 6px solid black;
    width: 302.91px;
    height: 40.9px;
    padding-left: 29px;
    padding-top: 61px;
    font-size: 34px;
    /* line-height: 53px; */
}
.w{
    border-left: 6px solid black;
    width: 532px;
    height: 48px;
    padding-left: 34px;
    padding-top: 30px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.b{
    border-left: 6px solid black;
    width: 493.82px;
    height: 49.57px;
    padding-left: 39px;
    padding-top: 56px;
    font-size: 34px;
}
.w3{
    border-left: 6px solid black;
    width: 830px;
    height: 48px;
    padding-left: 34px;
    padding-top: 20px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.no{
    border-left: 6px solid black;
    width: 681.75px;
    height: 47.25px;
    padding-left: 34px;
    padding-top: 54px;
    font-size: 50px;
}
.w6{
    border-left: 6px solid black;
    width: 884px;
    height: 48px;
    padding-left: 34px;
    padding-top: 29px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}