.navbar{
    position: sticky;
}
.h{
    width: 1440px;
    height: 134px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
}
.text{
    
    width: 858px;
    margin-top: 52px;
    font-family: New York Extra Large;
    font-style: normal;
    font-weight: bold;
    /* font-size: 54px; */
    /* text-align: center; */
}
.textsmall{

    width: 626px;
    height: 68px;
    padding-top: 32px;

    font-family: SF Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.image{
    margin-left: 0px;
    padding-top: 52px;
    width: 1440px;
    height: 900px;

    /* text-align: center; */
    
}

p{
    font-size: 54px ;
}
.tinytest{
    /* padding-top: 32px; */
    font-size: 20px !important;
    width: 450px;
    height: 68px;
    /* left: 407px; */
    /* margin-top: 380px; */

    font-family: SF Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    /* or 34px */

    text-align: center;
}
.avatar{
    background-color: red;
    border-radius: 50%;
    Width : 56px;
    Height :56px;
    /* margin-top : 30px; */
    /* padding-left: 400px; */
}
.border{
    border-top: 2px solid black;
    Width: 640px;
    margin-top: 32px;
    /* text-align: center; */
}
.textAbove{
    
    font-family: SF Pro Text;
    font-style: Bold;
    font-size: 16px;
    /* margin-top: 56px; */
    text-align: left;
}
.date{
    font-family: SF Pro Text;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}
.csss{
    margin-top: 30px;
}

.test {
    Width: 640px;
}
.textbody1{
    position: absolute;
    width: 640px;
    height: 238px;
    /* left: 400px;
    top: 1565px; */
    text-align: justify;
    margin-top: 58px;
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
}
.textbody2{
    position: absolute;
    width: 640px;
    height: 238px;
    /* left: 400px;
    top: 1565px; */
    text-align: justify;
    margin-top: 200px;
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
}
.fab {
    /* padding: 20px; */
    font-size: px;
    
    width: 35px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 0px; */
    /* padding-top: 30px; */
    /* margin-top: 30px; */
    
  }
  .box{
    border-style: ridge ;
    font-size: 20px;
    height: 44px;
    width: 140px;
  }

.titleTextBody{
    width: 288px;
    height: 51px;
    padding-top: 350px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 160%;
    text-align: justify;
}
.textBody3{
    width: 640px;
    height: 128px;
    
    margin-top: 70px;

    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: justify;
 }
 .textBody4{
    width: 640px;
    height: 100px;
    margin-top: 35px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
    text-align: justify;
 }
 .mintext{
    font-size: 16px !important;
    width: 481px;
    height: 44px;
    /* left: 407px; */
    /* margin-top: 380px; */
    margin-top: 12px;
    font-family: SF Mono;
    font-style: normal;
    font-weight: normal;
    line-height: 170%;
    /* or 34px */

    text-align: center;

 }
 .textbd1{
    width: 640px;
    height: 122px;
   
    margin-top: 52px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
 }
 .textbd2{
    width: 640px;
    height: 135px;
   
    margin-top: 52px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
 }
 
 .textbd3{
    width: 640px;
    height: 68px;
    margin-top: 52px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
    /* or 34px */
 }
 .p1{
    width: 640px;
    height: 17px;
    margin-top: 52px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
    /* or 34px */
 }
 .p2{
    width: 640px;
    height: 17px;
    
    font-family: New York Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
 }
 .bd{
     border-top: solid black;
    width: auto;
    height: 0px;
    left: 0px;
    margin-top: 581px;
 }
 .fas{
    width: 82px;
    height: 64px;
    margin-top: 0px;
 }
 .fa-heart{
    width: 82px;
    height: 64px;
    margin-top: -10px;
 }
 .f{
    margin-top: 12px;
    margin-bottom:12px;
 }
 .fa-facebook{
     border: 1px solid black;
     
 }
 .fa-twitter{
     border: 1px solid black;
     
 }
 .bordercenter{
     
 }
 .thankbox{
    padding-left: 77px;
     
 }
 .bt{
     border: 1px solid gray;
     bac
 }